.signup
  .signup__title
    = image_tag "title.png", class:"menu-title"
  .signup__body
    .signup__body__form
      = form_with model: @user, url: user_registration_path, local: true do |f|
        = render "devise/shared/error_messages", resource: @user
        .signup__body__form__information
          お な ま え
        = f.text_field :nickname, placeholder: ' やまだたろう'
        .signup__body__form__information
          パ ス ワ ー ド
        = f.password_field :password, placeholder: ' 7もじよりおおくにゅうりょくしてね' 
        .signup__body__form__information
          か く に ん
        = f.password_field :password_confirmation, placeholder: ' パスワードをもういちどにゅうりょくしてね'
        .signup__body__form__information
          ね ん れ い
        = f.select :age, [['1さい',1],['2さい',2],['3さい',3],['4さい',4],['5さい',5],['6さい',6],['7さい',7],['8さい',8],['9さい',9],['10さい',10],], {include_blank: 'き み は な ん さ い ？'}
        .signup__body__form__age
        .signup__body__form__submit
          = f.submit 'とうろくする', class: "signup-btn"
  .signup__footer
    .signup__footer__character
    .signup__footer__explanation